---
layout: default
title: Home
---

<!-- Show last 5 posts here -->
{% for post in paginator.posts %}
<div class="blog-post">
    <h2 class="blog-post-title"><a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a></h2>
    <p class="blog-post-meta">January 1, 2014 by {% if post.author %}{{post.author}}{% else %}{{site.author}}{% endif%}</p>
    {{ post.excerpt }}
</div>
{% endfor %}

<nav>
    <ul class="pager">
        {% if paginator.next_page %}
        <li>
            <a href="{{site.baseurl}}/page{{paginator.next_page}}">
                &laquo; Older Posts
            </a>
        </li>
        {% endif %}
        {% if paginator.previous_page %}
        <li>
            <a href="{{site.baseurl}}/page{{paginator.next_page}}">Next</a>
        </li>
        {% endif %}
    </ul>
</nav>
